.idea/
logs/*.log
*.sqlite3
*.o
*.dSYM
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
connect.sh
*.swp
creds.json
*.pid
*.mov
*.pyc
.ipynb_checkpoints/
custom.env
config.json
installer.sh
gcp.json
docs/experiments/private
docs/experiments/coco/coco_annotations
docs/experiments/yolo/yolo_test.zip
/backups/
/repos/vdn
/repos/performance
/repos/insightface/models/model-r34-amf
/server/dva/staticfiles/
/server/dvap/
/shared/
/repos/crfasrnn/crfrnn_keras_model.h5
/repos/crfasrnn/cpp/high_dim_filter.so
/server/celerybeat.pid
/tests/debug/tensorflow_dataset.ipynb
/repos/tf_ctpn_cpu/checkpoints/
/repos/tf_ctpn_cpu/lib/utils/cython_nms.so
/repos/tf_ctpn_cpu/lib/utils/bbox.so
/repos/tf_ctpn_cpu/lib/utils/build/
/repos/tf_ctpn_cpu/data/demo/test.jpg
/repos/tf_ctpn_cpu/data/results/
/client/build/
/client/dist/
/client/dvaclient.egg-info/
/deploy/kube/secrets.yml
/deploy/static/
/docs/marketing/
/tests/manual/facenet.npy
/tests/manual/facenet_lopq/