pillow
fabric
django==1.11.28
jinja
jinja2
djangorestframework
markdown==2.6.11
django-filter==1.1.0
kombu==4.2.0
amqp==2.2.2
celery==4.2.0
django-celery-results
dj-database-url==0.4.0
raven
psycopg2-binary
requests
boto3
protobuf==3.6.0
humanize
enum34
scikit-learn
awscli
django-crispy-forms
django-cors-headers
cffi
uwsgi
lmdb
gunicorn
django-celery-beat==1.1.0
cython
easydict
google-cloud==0.33.1
urllib3==1.24.2
flask
redis
hiredis
streamlink
psutil
jsonschema
opencv-python==3.4.1.15
sortedcontainers==2.0.4
tensorflow-hub
